[mysqld_safe]
log-error          = mysql.err

[mysqld]
server-id          = 101
pid-file           = /var/run/mysqld/mysqld.pid
socket             = /var/run/mysqld/mysqld.sock
datadir            = /var/lib/mysql
secure-file-priv   = NULL
symbolic-links     = 0
log-bin            = mysql-slave-bin
relay_log          = edu-mysql-relay-bin
binlog_format      = STATEMENT
#slave-skip-errors = all

default-time-zone  = Asia/Shanghai

skip-host-cache
skip-name-resolve

sql_mode = ''

#!includedir /etc/mysql/conf.d/
